.rtl {
    direction: rtl;
    text-align: right;
}

.align-top {
  vertical-align: top;
}

#anki tbody { cursor: pointer; }

#anki tbody tr.dt-child, 
#anki tbody tr.dt-child * { 
    cursor: default !important; 
}

tr.shown td.details-control::before {
    content: "▾ ";
}

td.details-control::before {
    content: "▸ ";
}

.page {
    width: 900px;
}

#anki {
    table-layout: fixed;
}

.row-table {
    border-collapse: collapse;
    margin-left: 48px;
    /* 40px (first col) + 8px (padding) */
}

.row-table td {
    border: thin solid lightgray !important;
    vertical-align: top;
}

.row-table td:nth-child(1) {
    width: 140px;
}

.row-table td:nth-child(2) {
    width: 460px;
}

.copy-btn {
    border: 0;
    background: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

#anki tbody tr.dt-child .copy-btn,
#anki tbody tr.dt-child .copy-btn * {
    cursor: pointer !important;
}

.copy-btn svg {
    vertical-align: baseline;
    height: 12px;
    opacity: .6;
}

.copy-btn:hover svg {
    opacity: 1;
}

.copy-btn.copied {
    color: #10b981;
    opacity: 1;
}

/* Anki CSS */
.nospan span:not([style], .marked) {
  visibility: hidden;
}